<a href="https://colab.research.google.com/github/HGeorgeWilliams/We-Yone-Python-Club/blob/master/Tutorials/DataStructures1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python 101: Python Data Structures 1**

# Summary


---


A data structure is a specialized format for organizing, processing, retrieving, and storing data in a programming<br> language. This tutorial provides a comprehensive overview of **sets** and **lists**, two of Python's fundamental data<br> structures. A couple of practical examples are included, to give you an idea of their applicability in practice. 
<br><br>
A video recording of this tutorial is available on my [YouTube channel](https://youtu.be/sHXpvQWwJH8).
<br>
<br>
Visit my [GitHub page](https://github.com/HGeorgeWilliams/We-Yone-Python-Club) for more tutorials and resources in this series.

# Sets


---

A set is an unordered immutable collection of elements (mixed or otherwise) with no duplicate element.<br> It finds use in membership testing and eliminating duplicate elements.

A set is created by enclosing its elements in a curly bracket `{ }` or invoking the `set()` command on a list.

In [ ]:
x = {8, 'a', 0, 'Chelsea'} # define set
print(x)

In [ ]:
print(len(x)) # print the number of elements of x

In [ ]:
y = {4, 5, 6, 0, 4} 
print(y)

Note how duplicate elements of `y` have been removed.

In [ ]:
a = ['7', 0, 4, 'musa', 'joe'] # define some list
z = set(a) # convert list to set
print(z)

In [ ]:
s = 'python' # define some string 
b = set(s) # convert string to set
print(b)

You can build (from scratch) a new set from an existing set or sets using a single line of code. This is **called set comprehension**.

In [ ]:
# return a set containing only the consonants in the sentence "I have a dream"

new_set = {x for x in "I have a dream" if x not in "aeiou "} 

# notice the white space after 'u' in the line of code above.
# it is included because there are white spaces in the original
# string and the set required is the set of consonants. 

print(new_set)

You can iterate over the elements of a set.

In [ ]:
# print the elements of z 

for element in z:

  print(element)

Set operations:


1.  Test for membership
2.  Test for subset
3.  Union
4.  Intersection 
5.  Difference
6.  Test for disjoint

We will use the following sets to illustrate these operations.

In [ ]:
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}
C = {6, 7, 9, 3}
D = {6, 7, 9}

In [ ]:
# test for membership

truth_val = 3 in A # three is a member of set A
print(truth_val)

In [ ]:
# test for membership

truth_val = 3 not in A # three is not a member of set A 
print(truth_val)

In [ ]:
# test for subset

truth_val = A.issubset(B) # A is a subset of B
print(truth_val)

In [ ]:
# test for subset

truth_val = not A.issubset(B) # A is not a subset of B
print(truth_val)

In [ ]:
# test for subset

truth_val = B.issuperset(A) # B is a superset of A
print(truth_val)

In [ ]:
# set union

new_set = A.union(B) # A union B -> (A | B)
print(new_set)

In [ ]:
# set union

new_set = A.union(B,C) # A union B union C -> (A | B | C)
print(new_set)

In [ ]:
# set union

new_set = A.intersection(B) # A intersection B -> (A & B)
print(new_set)

In [ ]:
# set difference

new_set = B.difference(A) # B difference A -> (B - A) -> elements in B but not in A
print(new_set)

In [ ]:
# symmetric set difference

# B symmetric difference C -> (B ^ C) -> elements in B or C but not both

new_set = B.symmetric_difference(C) 
print(new_set)

In [ ]:
# test for disjoint

truth_val = B.isdisjoint(D) # B and D have no elements in common
print(truth_val)

# Lists


---

A list is a mutable ordered sequence of elements (mixed or otherwise) in Python.

A list is created by enclosing its elements in a square bracket `[ ]` or invoking the `list()` command on a set.

In [ ]:
new_list = [6, 8, 9] # create list from scratch
print(new_list)

In [ ]:
new_set = {'a', 'e', 'i', 'u'} 
new_list = list(new_set)  # convert set to list
print(new_list)

Like sets, you can build a new list from an existing list or lists using a single line of code. This is **called list comprehension**.

In [ ]:
# generate a list of squares of numbers between zero and 10 inclusive

original_list = list(range(11)) # list of numbers between 0 and 10 inclusive
new_list = [x**2 for x in original_list] # generate list of squares
print(new_list)

In [ ]:
i = [-9, 0, 6, 4]
j = [0, 1, 2, 3]

# create a new list that is equivalent to i + j

new_list = [sum(y) for y in zip(i,j)]

# the zip() function in the line of code above creates 
# pairs of corresponding elements of i and j as shown below:
# ((-9,0), (0,1), (6,2), (4,3)) 

print(new_list)

Like sets, you can iterate over lists.

In [ ]:
# print the elements of [-9, 0, 6, 4]

for z in [-9, 0, 6, 4]:
  
  print(z)

In [ ]:
# print the elements of [-9, 0, 6, 4] and their position

for position,element in enumerate([-9, 0, 6, 4]):
  
  print("Position = {} Element = {}".format(position, element))

Common list operations: 


1.   `copy()`
2.   `index()`
3.   `count()`
4.   `append()`
5.   `extend()`
6.    `pop()`
7.    `sort()`
8.   ` reverse()`

In [ ]:
A = [-9, 0, 6, 4] 
B = A # get a new list from A using direct assignment
B[2] = 10 # replace third element of B 10

print("A = {}".format(A))
print("B = {}".format(B))

You will notice that **A** has been modified as well, even though we only physically modified **B**.

In [ ]:
# use shallow copying, to prevent the inadvertant binding of assigned variables. 

A = [-9, 0, 6, 4] 
B = A.copy() # get a new list from A using shallow copying
B[2] = 10 # replace third element of B 10

print("A = {}".format(A))
print("B = {}".format(B))

In [ ]:
# use shallow copying on a nested list

A = [-9, [4, 's', 't', 7], 6, 4] 
B = A.copy() # get a new list from A using shallow copying
B[1][1] = 10 # replace second element of the second element of B

print("A = {}".format(A))
print("B = {}".format(B))

You will notice that **A** has been modified as well, even though we only physically modified **B** via shallow copying.

In [ ]:
# use deep copying on a nested list

from copy import deepcopy

A = [-9, [4, 's', 't', 7], 6, 4] 
B = deepcopy(A) # get a new list from A using deep copying
B[1][1] = 10 # replace second element of the second element of B

print("A = {}".format(A))
print("B = {}".format(B))

**Rule-of-thumb**: Always use shallow copying to assign simple lists to new variables and deep copying for nested lists.

Counting the number of times an element occurs in a list.

In [ ]:
test_list = [9,1,0,0,1,2,3,4,5,1,0]
test_list.count(1) # count number of times 1 occurs in test_list

Determining the position of the first occurence of an element in a list.

In [ ]:
test_list.index(0) # locate the first occurrence of 0

In [ ]:
test_list = [9,1,0,0,1,2,3,4,5,1,0]

# replace all occurrences of 0 in test_list with -0.7

# to achieve this, recursively loop over the list replacing 
# the first occurrences of 0 until they have all been replaced

while True: 

# put index check syntax in try block so that when all occurrences of zero have
# been replaced, an exception is thrown, which is handled to break the while loop

  try:

    index_of_zero = test_list.index(0) 
    test_list[index_of_zero] = -0.7

  except:

    break

print(test_list)

The elements of a list can be sorted.

In [ ]:
# sort list in ascending order (default for sort())

test_list = [9, 0, 4, 1]
test_list.sort() 
print(test_list)

In [ ]:
# sort list in descending order (default for sort())

test_list = [9, 0, 4, 1]
test_list.sort(reverse=True) 
print(test_list)

Note that `sort()` modifies the original list and does not return a new list. If you want <br>a new list to be returned and keep the original list intact, use `sorted()` instead.

The elements of a list can be reversed (without being sorted).

In [ ]:
# reverse the elements of test_list

test_list = [9, 0, 4, 1]
test_list.reverse() 
print(test_list)

You can remove the element at a specific position in a list.

In [ ]:
# remove the second element from the list below:

test_list = [9, 0, 4, 1]
element = test_list.pop(1) 
print(element)
print(test_list)

You can append an element to the end of a list.

In [ ]:
# append 5 to the end of the list below:

test_list = [9, 0, 4, 1]
test_list.append(5)
print(test_list)

You can append a list to the end of another list.

In [ ]:
# append 5 to the end of the list below:

list1 = [9, 0, 4, 1]
list2 = [5, 6]
list1.extend(list2)
print(list1)
print(list2)

For further reading visit https://docs.python.org/3/tutorial/datastructures.html.

For exercises and practice problems on lists visit https://www.w3resource.com/python-exercises/list/.

For excercises and practice problems on sets visit https://www.w3resource.com/python-exercises/sets/.