<a href="https://colab.research.google.com/github/HGeorgeWilliams/We-Yone-Python-Club/blob/master/Tutorials/Strings1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python 101: Basics of Strings**

# Summary


---


This tutorial introduces the absolute beginner to the Python programming language. It gets you started with strings and `print()` statements and includes sample problems, as well as exercises for you to try at home. This tutorial only covers the basics of strings albeit to the depth required for most string operations in Python. For advanced use, see the tutorial **String2** available after 20th June, 2020. <br>
<br>
A video of this tutorial is available on my YouTube channel.
<br>
<br>
See my [GitHub page](https://github.com/HGeorgeWilliams/We-Yone-Python-Club) for more tutorials and resources in this series.

# Strings


---


A string is a sequence of characters analogous to normal text. It is created by enclosing the sequence of characters in single quotes (`'...'`) or double quotes (`"..."`).

In [0]:
'Python'

In [0]:
"Python"

To get rid of the quotes, use the `print( )` function.

In [0]:
print('Python')

You can also print numbers but you do not need quotes for this.

In [0]:
print(6)

Strings can be assigned to variables.

In [0]:
a = 'Hello World'
print(a)

Verify that `a` is indeed a string

In [0]:
print(type(a))

Note: When printing variables, they do not have to be enclosed in quotes!

In [0]:
b = 4
print(b)

Strings can be concatenated (joining multiple strings).

In [0]:
string = 'I love ' + 'Rice'
print(string)

The same outcome can be realised by assigning the two strings to separate variables and concatenating the variables.

In [0]:
string1 = 'I love '
string2 = 'Rice'
new_string = string1+string2
print(new_string)

You can also concatenate strings without the `+` sign.

In [0]:
string3 = 'I love ' 'Rice'
print(string3)

But you cannot do that with variables!

In [0]:
string4 = string1 string2

You can concatenate strings and numbers.

In [0]:
c = a + b
print(c)

Now convert `b` to string first and see what happens.

In [0]:
c = a + str(b)
print(c)

Strings and numbers can also be printed without converting the numbers to string first, by using placeholders and Python's `format()` function.

Assuming we want to write a syntax for printing the statement: **`I have 2 daughters who are 2 and 10 years old`** in such a way that the number and ages of my daughters can be changed without re-writing the entire sentence. <br>

For this, we replace the numbers in question with placeholders and use `format ()` to specify their values.

In [0]:
text='I have {} daughters who are {} and {} years old.'
print(text.format(2,2,10))

Variables can also be used to specify these values.

In [0]:
val1 = 2
val2 = 2
val3 = 10
print(text.format(val1,val2,val3))

Strings are also arrays; therefore, you can access its individual elements (*slicing*). When accessing elements, it is important to note that Python indexing starts from $0$. This means, if the string is made up of 5 characters, the first character has an index of $0$ and the last, an index of $4$.

In [0]:
sample_string='We Yone Python Club' 
l=len(sample_string) # number of characters in string including white space
print(l) # print number of characters
char1=sample_string[0] # print first character (take note of the square bracket!)
print(char1)

In the code above, we could tell Colab to print the number of characters in the string and its first character using one `print` statement.

In [0]:
print('Number of characters = {} and character 1 = {}.'.format(l,char1))

Now, let's say we want to print the result in the following format:<br>
> `Number of characters: 19` <br>
> `Character 1: W` <br> 

We use `\n` to instruct Python to start a next sequence of characters on a new line.

In [0]:
print('Number of characters: {}\nCharacter 1: {}'.format(l,char1))

Let's further assume we want to print the above, such that the `:` symbols in the two statements are vertically aligned.

In [0]:
L1 = len('Number of characters:') 
L2 = len('Character 1:')
L = L1-L2 # length of white space required
print('Number of characters: {}\nCharacter 1{}: {}'.format(l,L*' ',char1))

Given a range of indices, you can extract the characters in that range.

In [0]:
sample_string[4:8] # characters from index 4 (included) to 8 (excluded). 
# This is equivalent to characters 5 to 8

In [0]:
sample_string[:3] # characters from index 0 (included) to 3 (excluded). 
# This is equivalent to characters 1 to 3

In [0]:
sample_string[14:] # characters from index 14 (included) to the end. 
# This is equivalent to characters 15 to the last.

 A rule-of-thumb can be deduced from the preceding three examples:

> If $l$ is the starting index of the range and $u$ the final index, the sliced string contains the $\left(l+1\right)^{th}$ to the $u^{th}$ characters. Conversely, if the sliced string should contain the $n^{th}$ to the $m^{th}$ characters, the starting and final indices should be $n-1$ and $m$.

You could skip some characters in the range by specifying an interval.

In [0]:
sample_string[14:18:2] # characters from index 14 (included) to index 18 (excluded), at intervals of 2

If the entire string is to be sliced, the starting and final indices can be omitted.

In [0]:
sample_string[::3] # characters from first to last, at intervals of 3

Negative indexing is also possible. Counting for negative indexing, however, starts from -1!

In [0]:
sample_string[-1] # last element

In [0]:
sample_string[-3] # third element from the right

In [0]:
sample_string[-4:] # last 4 elements

# Strings with Special Characters


---

Special characters in this case are quotes `'` and backslashes `\`, as in `DON'T` and `C:\Tutorials\notebooks\Strings`.

There are two ways to handle strings with quotes:

In [0]:
print("DON'T") # using double instead of single quotes

In [0]:
print('DON\'T') # using single quotes and a backslash 
#(this is called escaping the special character)

Strings with backslashes are specified as *raw strings* by adding an `r` before the first quote. With this, Python displays the string as it is.

In [0]:
print('C:\Tutorials\notebooks\Strings') # without raw string (\n interpreted as new line)

In [0]:
print(r'C:\Tutorials\notebooks\Strings') # with raw string (\n not interpreted as new line)

# Examples
Simple problems based on the concepts covered in this tutorial.

---

> 1. Write a program to get a single string from two strings such that: 
>>>
(a).   the new string consists of two substrings separated by a string of 8 alternating `+` and `-` characters; <br>
(b).   the first substring of the new string is the second string with its first two elements replaced with the last two elements of the first string;<br>
(c).   the second substring of the new string is the first string with its last two elements replaced with the first two elements of the second string; <br>

> Sample: `'abc'` and `'123'` <br>
Result: `'bc3+$+$+$+$23c'` <br>

In [0]:
# define and print first and second strings

first_string = 'Hindolo' # first string
print('First String: {}'.format(first_string)) # print

second_string = 'Maada' # second string
print('Second String: {}'.format(second_string)) # print

# create and print the first sub string; which is formed from concatenating
# the last two characters of first_string and the third to last character of second_string

first_substring = first_string[-2:] + second_string[2:] # create
print('First Substring: {}'.format(first_substring)) # print

# create and print the second sub string; which is formed from concatenating the first to third to last  
# characters of first_string and the first two characters of second_string

second_substring = first_string[:-3] + second_string[:2] 
print('Second Substring: {}'.format(second_substring))

# create and print separating character by replicating '+$' four times

sep_substring = 4*'+$' 
print('Separating String: {}'.format(sep_substring))

# build new string

new_string = first_substring + sep_substring + second_substring

# print new string

print('New String: {}'.format(new_string))

> 2. Repeat the preceding example but with the `:` symbol in the printed statements being vertically aligned.

In [0]:
# derive the new string without printing the substrings.

first_string = 'Hindolo' 
second_string = 'Maada' 
first_substring = first_string[-2:] + second_string[2:] 
second_substring = first_string[:-3] + second_string[:2] 
sep_substring = 4*'+$' 
new_string = first_substring + sep_substring + second_substring

# define title strings

s1 = 'First String' # first input string title text
s2 = 'Second String' # second string title text
s3 = 'First Substring' # first output substring title text 
s4 = 'Second Substring' # second output substring text 
s5 = 'Separating String' # separating string title text
s6 = 'New String' # output string title text

# get the lengths of the title strings

l1 = len(s1) # length of s1
l2 = len(s2)
l3 = len(s3)
l4 = len(s4)
l5 = len(s5)
l6 = len(s6)

# get the length of the longest string

l_max=max(l1,l2,l3,l4,l5,l6)

# print strings

print(s1 + (l_max-l1) * ' ' + ': ' + first_string) # print first input string
print(s2 + (l_max-l2) * ' ' + ': ' + second_string) # print second input string
print(s3 + (l_max-l3) * ' ' + ': ' + first_substring) # print first output sub string
print(s4 + (l_max-l4) * ' ' + ': ' + second_substring) # print second output sub string
print(s5 + (l_max-l5) * ' ' + ': ' + sep_substring) # print separating string
print(s6 + (l_max-l6) * ' ' + ': ' + new_string) # print output string

# Exercises to try at home


---
1.   Repeat example 1 without using negative indices and `format()`.
2.   Repeat example 2 with the additional constraint that the first letters of each of the first and second words in the title texts are aligned.

>> *Sample*
```
First  String   : Hindolo
Second String   : Maada
First  Substring: loada
```